@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

/* https://colorhunt.co/palette/1c315e227c7088a47ce6e2c3 */
[data-theme="dark"] {
  --font-color: rgb(255, 255, 255);
  --first-color: rgb(37, 56, 96);
  --background-color: #0a2647;

  --hover-color: rgb(74, 214, 196);
  --hover-low-color: rgba(74, 214, 196, 0.3);
}

[data-theme="white"] {
  --font-color: rgb(0, 0, 0);
  --first-color: #89c4e1;
  --background-color: #eff5f5;

  --hover-color: rgb(2, 101, 80);
  --hover-low-color: rgba(2, 101, 80, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: "IBM Plex Sans Thai", sans-serif;
}

.container,
#app {
  background-color: var(--background-color);
  min-height: 100vh;
}
